.audioChat {
  background-color: #181818;
  position: relative;
}

.audioChat .modal-container .header {
  cursor: pointer;
  color: white;
  margin-left: auto;
  font-size: 2rem;
  width: max-content;
}
.audioChat .modal-container .top input {
  height: 50px;
}
.audioChat .modal-container p {
  font-size: 1.1rem;
  color: white;
  margin: 10px 0;
}
#form_post_blog_div {
  width: 100%;
  position: relative;
  display: block;
  height: max-content;
  margin-bottom: 10px;
}
#form_post_blog_div .extension {
  position: absolute;
  top: 0;
  right: 0;
}
#form_post_blog_div textarea {
  height: 100px;
}
.audioChat .modal_container .div {
  position: relative;
}
.audioChat .modal_container button[type="submit"] {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0;
}
.audioChat .modal_container svg {
  width: 40pt;
  height: 40pt;
}
.audioChat .modal_container svg .y {
  fill: rgb(15, 14, 14);
}
.audioChat .modal_container svg .x {
  fill: orange;
}
.audioChat .modal-container .bottom .select-user {
  display: flex;
  width: max-content;
}

.audioChat
  .modal-container
  .bottom
  .select-user
  input::-webkit-outer-spin-button,
.audioChat
  .modal-container
  .bottom
  .select-user
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.audioChat .modal-container .bottom .select-user .type_text_div {
  width: 40px !important;
  height: 30px;
  padding: 0;
  margin: 0 10px 0 0;
}
.audioChat .modal-container .bottom .select-user div input[type="checkbox"] {
  height: 25px;
  width: 25px;
  background-color: inherit;
}
.audioChat .modal-container .bottom .select-user div {
  font-size: 1.2rem;
  color: white;
}

#podcast-create-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(245, 245, 245, 0.884);
  border-radius: 10px;
}
#podcast-create-button svg {
  width: 25pt;
  height: 25pt;
  padding: 10px;
}
#podcast-create-button svg path {
  fill: #ff6370;
  stroke-width: 10;
  stroke-dasharray: 1350;
  stroke-dashoffset: 0;
  stroke: #ff6370;
}
#podcast-create-button svg:hover path {
  animation: animate 1s linear forwards;
}
@keyframes animate {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1350;
  }
  80% {
    stroke-dashoffset: 2700;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2700;
    fill: #ff6370;
  }
}
.podcast-render {
  font-family: Ubuntu;
  margin-left: auto;
  overflow-y: auto;
  background-color: #181818;
}
.podcast-div {
  background-color: #1f2022;
  height: max-content;
  width: 30%;
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  color: white;
  display: flex;
}
.podcast-div a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}
.podcast-div .in {
  width: 80%;
}
.podcast-div .in section {
  margin: 10px 0;
}
.podcast-div .in section p {
  font-size: 1rem;
}
.podcast-div .tooltiptext {
  top: 120%;
  bottom: initial;
}
.podcast-div .tooltiptext::after {
  left: 50%;
  bottom: 100%;
}
.podcast-join-button {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  transition: 0.2s;
  background-color: inherit;
  height: max-content;
}
.podcast-many {
  width: 22pt;
  height: 22pt;
  background-color: teal;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.podcast-join-button svg {
  width: 25pt;
  height: 25pt;
  padding: 0;
}
.podcast-join-button svg path {
  stroke-width: 25;
  stroke-dasharray: 1350;
  stroke-dashoffset: 0;
  stroke: #e06f24;
  fill: transparent;
}
.podcast-join-button svg:hover path {
  animation: animate-join 1s linear forwards;
}
@keyframes animate-join {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1350;
  }
  80% {
    stroke-dashoffset: 2700;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2700;
    fill: #e06f24;
  }
}
.podcast-req {
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.801);
  top: 0;
  z-index: 2;
}
.podcast-req .container-req {
  width: 60%;
  height: max-content;
  margin: auto;
  background-color: #1f2022;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  color: white;
}
.podcast-req .container-req .header {
  width: max-content;
  margin-left: auto;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.podcast-req .container-req button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
}
.podcast-req .container-req input {
  height: 50px;
  margin: 10px 0;
}

.podcast-room .body {
  overflow-y: auto;
  display: flex;
  color: white;
}

.podcast-room .body .detail {
  background-color: #21242b;
  width: 23%;
  height: 98%;
  padding-top: 10px;
  padding: 10px 10px 0 10px;
  position: absolute;
}
.podcast-room .body .detail .header {
  justify-content: space-between;
  width: 80%;
}
.podcast-room .body .detail .header a {
  color: rgba(255, 255, 255, 0.705);
  text-decoration: none;
  font-size: 1.3rem;
}
.podcast-room .body .detail .header a:hover {
  text-decoration: underline;
}
.podcast-room .body .container {
  background-color: #181818;
  width: 77%;
  justify-content: center;
  padding-top: 20px;
  margin-left: 23%;
}
.podcast-room .body .container section {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: max-content;
}
.podcast-room .body .container section .div {
  flex: 0 0 33.333333%;
  height: max-content;
  margin-bottom: 20px;
}
.podcast-room .body .detail .users-div {
  background-color: #323337;
  width: 75%;
  height: 40%;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
}
.podcast-room .body .detail #logo {
  width: 50pt;
  height: 50pt;
}
.podcast-room .body .detail .users-div .div,
.podcast-room .body .detail .ex .div {
  width: 90%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.podcast-room .body .detail .users-div .div {
  border-bottom: 2px solid #383b4b;
}
.podcast-room .body .detail .ex {
  margin-top: 10px;
}
.podcast-room .body .detail .ex .div svg {
  width: 25pt;
  height: 25pt;
}
.podcast-room .body .detail .ex .div p {
  display: inline-block;
  cursor: pointer;

  width: 80%;
}
