#simple_menu_emoji .MuiPaper-root {
  max-height: 300px;
  max-width: 1000px;
}
#simple_menu_emoji .MuiPopover-paper {
  min-width: max-content;
  max-width: max-content;
  overflow-y: clip;
}
#simple_menu_emoji .MuiList-root {
  width: 100% !important;
  padding: 0;
}
#simple_menu_emoji .MuiList-root span {
  padding-right: 5px;
  cursor: pointer;
}
#group_icon {
  color: white;
  height: max-content;
  position: absolute;
  right: 5px;
}
/*****************************************8* Message accordion  ***************************/
.accordion_div {
  position: fixed;
  bottom: 0;
  background-color: #252936;
  width: max-content;
  z-index: 2;
  right: 6%;
  border-radius: 15px 15px 0 0;
  box-shadow: 1px 1px 5px white;
}
.accordion_header {
  width: 350px;
  border-radius: 15px 15px 0 0;
  display: flex;
  background-color: #252936;
}
.accordion_div button span {
  color: white;
}
.accordion_div .accordion_message {
  border-radius: 15px 15px 0 0;
  width: 80%;
  margin-left: auto;
  cursor: pointer;
  background-color: #252936;
}
.accordion_div .accordion_message .MuiIconButton-root:hover {
  border-radius: 10px 10px 0 0;
  background-color: #252936;
}
.accordion_div .accordion_message .MuiIconButton-root {
  border-radius: 10px 10px 0 0;
  padding: 5px 10px;
}
.accordion_div .accordion_data {
  display: none;
  width: 350px;
  height: 400px;
  transition: 0.2s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
}
.accordion_message button {
  width: 100%;
}
.accordion_message .MuiIconButton-label {
  width: 100%;
}
.accordion_message .MuiIconButton-label .sympol {
  margin-left: auto;
}
.accordion_data ul {
  height: 81%;
  overflow-y: scroll;
}
.accordion_data .formMessage {
  width: 95%;
}
.tooltip {
  position: relative;
}
#tooltip_post::after {
  margin-left: -100px;
  right: 10%;
  left: initial;
}
#tooltip_post {
  margin-left: -100px;
  font-size: 1rem;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 99;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1rem;
}
.menuMessage .tooltip .tooltiptext,
.shot_header .tooltip .tooltiptext {
  top: 100%;
  left: 50%;
  bottom: 0;
  height: max-content;
  width: 90px;
}
.menuMessage .tooltip .tooltiptext::after,
.shot_header .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  top: initial;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #222433 transparent;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #222433 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.contact_extension {
  margin-top: 10px;
  display: flex;
  border-bottom: 2px solid rgba(221, 213, 213, 0.137);
  height: max-content;
  width: 90%;
  margin-left: auto;
}
.contact_extension .contact_extension_div {
  height: 20px;
  background-color: transparent;
  margin-right: 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.contact_extension .contact_extension_div span {
  display: inline-block;
  width: 100%;
}
.shot {
  margin-top: 1%;
  height: 235px;
  width: 85%;
  color: white;
  font-size: 1.8rem;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.shot .shot_div {
  width: 96%;
  height: max-content;
  overflow-x: auto;
}
.shot video {
  width: 125px;
  height: 180px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  padding-right: 5px;
}
svg {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}
.shot #arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 55%;
}
.shot #arrow path {
  fill: #44f3fc;
}
.shot_header {
  justify-content: space-between;
}
.shot_header svg {
  width: 17pt;
  height: 17pt;
  background-color: palegreen;
  margin-right: 5px;
  margin-bottom: 5px;
}
.shot_header #add-svg {
  width: 25pt;
  height: 25pt;
  background-color: initial;
}
.shot_header #add-svg path {
  fill: orange;
}
.shot_header svg path {
  fill: white;
}
.shot_header .tooltip .tooltiptext {
  background-color: ivory;
  color: black;
}
#modal-shot {
  position: fixed;
  background-color: rgb(20, 20, 20);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-shot-header {
  height: 5%;
}
.modal-shot-header span {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 10px;
  float: right;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 50%;
}
#modal-shot .modal-shot-body {
  display: flex;
  height: 90%;
  width: 40%;
  margin: auto;
}

#modal-shot .modal-shot-body .modal-shot-container {
  position: relative;
}
#modal-shot .modal-shot-body .modal-shot-container video {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 1px 45px -5px rgba(235, 235, 235, 0.75);
  -webkit-box-shadow: 10px 1px 45px -5px rgba(235, 235, 235, 0.75);
  -moz-box-shadow: 10px 1px 45px -5px rgba(235, 235, 235, 0.75);
  object-fit: cover;
}
.modal-shot-image {
  position: absolute;
  width: 100%;
  height: 660px;
  margin-top: 5%;
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
  z-index: -1;
}
.modal-svg {
  width: 35pt;
  height: 35pt;
}
.modal-svg path {
  fill: white;
}
.modal-shot-container div {
  position: absolute;
  z-index: 1;
}
.modal-shot-container .header {
  top: 10px;
  right: 0;
  width: 100%;
}
.modal-shot-container .bottom {
  bottom: 15px;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
}
.modal-shot-container .bottom form {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  /* padding: 0 10% 0 10px; */
}
.modal-shot-container .bottom input {
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(241, 240, 240);
  border-width: 1px;
  background-color: inherit;
  font-size: 1.2rem;
  width: 90%;
  height: 100%;
  padding-right: 12%;
  color: white;
  transition: 0.1s;
}
.modal-shot-container .bottom div,
.modal-shot-container .MuiIconButton-root {
  position: absolute;
  right: 3%;
  width: max-content;
}
.modal-shot-container .bottom div svg,
.modal-shot-container .MuiIconButton-root svg {
  width: 20pt;
  height: 20pt;
}
.modal-shot-container svg {
  width: 14pt;
  height: 14pt;
}
.modal-shot-container .MuiIconButton-root {
  padding: 0;
  right: 5%;
}
.modal-shot-container .bottom svg path {
  fill: rgb(255, 255, 255);
  stroke-width: 20;
  stroke-dasharray: 1350;
  stroke-dashoffset: 0;
  stroke: rgb(255, 255, 255);
}
.modal-shot-container .bottom svg:hover path {
  animation: animate-ans 1s linear forwards;
}
@keyframes animate-ans {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1350;
  }
  80% {
    stroke-dashoffset: 2700;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 2700;
    fill: rgb(252, 252, 252);
  }
}
.progress-video {
  height: 3px;
  width: 95%;
  background-color: black;
  margin: auto;
  border-radius: 10px;
}
.progress-video section {
  width: 0%;
  will-change: width;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  transition: 0.1s;
}
.modal-shot-container .ex {
  margin-right: 0;
  margin-left: auto;
  width: fit-content;
  display: flex;
}
#input-click input {
  width: 20pt;
  left: 10px;
  margin: 0;
  background-color: rgb(17, 17, 17);
  border: none;
  pointer-events: none;
}
#input-click div {
  left: 0;
}
