html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  width: 100%;
  height: 100%;
}

*:focus {
  outline: none;
}
#root {
  background-color: #000000;
}
.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
}
.modal_container .div {
  height: max-content;
  width: 60%;
  background-color: #21242b;
  padding: 40px 50px;
  z-index: 3;
  border-radius: 10px;
}
/* 100% of width and height */
.percent {
  width: 100%;
  height: 100%;
}
/* center align */
.cA {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiIconButton-root {
  padding: 0 !important;
}
