.call_div_container {
    width: 25%;
    height: 100%;
    border-right: 1px solid rgba(248, 248, 255, 0.322);
    overflow-y: scroll;
}

.main_mic {
    border-top: 1px solid rgba(248, 248, 255, 0.322);
    width: 100%;
    padding: 5px 0;
    height: 50%
}

.main_mic p {
    text-align: center;
    color: whitesmoke
}

.user_device img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.user_device {
    margin-bottom: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.user_device .icon_device svg {
    padding-right: 10px;
}

.user_device .MuiSvgIcon-root {
    font-size: 1.7rem;
}
         /* for navbar right */
.active_title{
    background-color: rgba(255, 255, 240, 0.233);
    border-left: 4px solid rgb(90, 189, 228)
}

/* customize spinning waiting */
:root {
  --bg-page: #1a1a1a;
  --text-color: #f3f3f3;
  --card-bg: #202020;
  --icon-bg: #45423c;
  --blue: #0870f8;
  --blue-rgb: 8, 112, 248;
  --orange: #ff9232;
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --g-yellow: linear-gradient(30deg, #fc0, #fc0);
  --g-red: linear-gradient(30deg, #f36, #f24);
  --g-blue: linear-gradient(30deg, #0cf, #0af);
  --g-purple: linear-gradient(30deg, #85f, #9966ff);
  --range: 0%;
  --shadow: rgba(0, 6, 39, 0.1);
  --light-shadow: rgba(255, 255, 255, 0.8);
  --light-shadow-2: rgba(255, 255, 255, 0.1);
}

.spinner {
  --size: 30px;
  --border: 5px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: relative;
  border: var(--border) solid #2d2d2d;
  border-right: var(--border) solid var(--orange);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fill-loader-1 {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  49% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  51% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
.contact_contain_text .count{
  margin-left: 10px;
  font-size: 12px;
  padding: 2px 5px 2px 2px;
  border-radius:40%;
  background-color: #45423c;
  color: white
}
.dot{
  padding: 5px;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: rgba(1, 255, 153, 0.8);
}

.contact_contain_text .setting_chat{
  background-color:rgba(212, 207, 207, 1);
  position: absolute;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-10%, 30%);
  display: none;
}
.contact_container:hover{
  background-color: rgba(245, 245, 245, 0.301) 
}
.setting_chat .MuiButton-root{
  padding: 0;
  min-width: 30px;
}
.contact_contain_text:hover .setting_chat{
  display:block;
}
.setting_chat_modal{
  min-height: 120px;
  height: 300px;
}
.setting_chat_modal .MuiPaper-root{
  min-width: 270px;
}
.setting_chat_modal .MuiPaper-root .MuiMenuItem-root{
  margin-bottom: 10px;
  padding: 10px;
}
.setting_chat_modal .MuiPaper-root .MuiMenuItem-root img{
  padding-right: 10px;

}
.comment_blog{
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  /* border-radius: 10px */
}
.comment_blog {  
  border-left: 2px solid magenta;
}
.comment_blog:hover{
  background-color: rgba(245, 245, 245, 0.171);
}
.comment_blog img{
  padding-left: 10px;
}
 /* accordion for mic chat */
.accordion {
  cursor: pointer;
  text-align: left;
  font-size: 17px;
  transition: 0.4s;
  background-color: #333333;
  padding: 10px 0;
  border-radius: 10px;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out
}