.call_div_container {
    width: 25%;
    height: 100%;
    border-right: 1px solid rgba(248, 248, 255, 0.322);
    position: absolute;
    left: 2px;
}

.main_mic {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 5px 0;
}

.user_device img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.user_device {
    display: flex;
    justify-items: center;
    align-items: center;
}

.user_device .icon_device svg {
    padding-right: 15px;
}