#simple_menu_emoji .MuiPaper-root {
  max-height: 300px;
  max-width: 1000px;
}
#simple_menu_emoji .MuiPopover-paper {
  min-width: 300px;
  max-width: 400px;
}
#simple_menu_emoji .MuiList-root {
  word-break: break-all;
  padding-right: 0 !important;
  padding-left: 15px;
  width: 100% !important;
}
#simple_menu_emoji .MuiList-root span {
  padding-right: 5px;
  cursor: pointer;
}
#group_icon {
  color: white;
  height: max-content;
  position: absolute;
  right: 5px;
}
/*****************************************8* Message accordion  ***************************/
.accordion_div {
  position: fixed;
  bottom: 0;
  background-color: #252936;
  width: max-content;
  z-index: 2;
  right: 6%;
  border-radius: 15px 15px 0 0;
  box-shadow: 1px 1px 5px white;
}
.accordion_header {
  width: 350px;
  border-radius: 15px 15px 0 0;
  display: flex;
  background-color: #252936;
}
.accordion_div button span {
  color: white;
}
.accordion_div .accordion_message {
  border-radius: 15px 15px 0 0;
  width: 80%;
  margin-left: auto;
  cursor: pointer;
  background-color: #252936;
}
.accordion_div .accordion_message .MuiIconButton-root:hover {
  border-radius: 10px 10px 0 0;
  background-color: #252936;
}
.accordion_div .accordion_message .MuiIconButton-root {
  border-radius: 10px 10px 0 0;
}
.accordion_div .accordion_data {
  display: none;
  width: 350px;
  height: 400px;
  transition: 0.2s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
}
.accordion_message button {
  width: 100%;
}
.accordion_message .MuiIconButton-label {
  width: 100%;
}
.accordion_message .MuiIconButton-label .sympol {
  margin-left: auto;
}
.accordion_data ul {
  height: 81%;
  overflow-y: scroll;
}
.accordion_data .formMessage {
  width: 95%;
}
.tooltip {
  position: relative;
}
#tooltip_post::after {
  margin-left: -100px;
  right: 10%;
  left: initial;
}
#tooltip_post {
  margin-left: -100px;
  font-size: 1rem;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #222433;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 99;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1rem;
}
.menuMessage .tooltip .tooltiptext,
.shot_header .tooltip .tooltiptext {
  top: 100%;
  left: 50%;
  bottom: 0;
  height: max-content;
  width: 90px;
}
.menuMessage .tooltip .tooltiptext::after,
.shot_header .tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  top: initial;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #222433 transparent;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #222433 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.contact_extension {
  margin-top: 10px;
  display: flex;
  border-bottom: 2px solid rgba(221, 213, 213, 0.137);
  height: 6%;
  width: 90%;
  margin-left: auto;
}
.contact_extension .contact_extension_div {
  height: 20px;
  background-color: transparent;
  margin-right: 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.shot {
  margin-top: 3%;
  height: 180px;
  width: 85%;
  color: white;
  font-size: 1.8rem;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.shot .shot_div {
  width: 96%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
.shot img {
  width: 125px;
  height: 180px;
  border-radius: 10px;
  cursor: pointer;
}
svg {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}
.shot #arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 55%;
}
.shot #arrow path {
  fill: #44f3fc;
}
.shot_header {
  justify-content: space-between;
}
.shot_header svg {
  width: 17pt;
  height: 17pt;
  background-color: palegreen;
  margin-right: 5px;
  margin-bottom: 5px;
}
.shot_header #add-svg {
  width: 25pt;
  height: 25pt;
  background-color: initial;
}
.shot_header #add-svg path {
  fill: orange;
}
.shot_header svg path {
  fill: white;
}
.shot_header .tooltip .tooltiptext {
  background-color: ivory;
  color: black;
}
