#simple_menu_emoji .MuiPaper-root{    
    max-height: 300px;
    max-width: 1000px;
}
#simple_menu_emoji .MuiPopover-paper{
    min-width: 300px;
    max-width: 400px;
}
#simple_menu_emoji .MuiList-root{
    word-break: break-all;
    padding-right: 0 !important;
    padding-left: 15px;
    width: 100% !important;
}
#simple_menu_emoji .MuiList-root span{
    padding-right: 5px;
    cursor:pointer
}
#group_icon{
    color: white;
    height: max-content;
    position: absolute;
    right:5px
}
/*****************************************8* Message accordion  ***************************/
.accordion_div{
    position: fixed;
    bottom:0;
    background-color: #18191a;
    width:max-content;
    z-index: 2;
    right: 6%;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 1px 5px white;

}
.accordion_header{
    width: 350px;
    border-radius: 15px 15px 0 0;
    display: flex;
    background-color:#242323

}
.accordion_div button span{
    font-size: 1.4rem;
    color: white;
}
.accordion_div .accordion_message{
    border-radius: 15px 15px 0 0;
    width: 80%;
    margin-left:auto;
    cursor:pointer;
}
.accordion_div .accordion_message .MuiIconButton-root:hover{
    border-radius: 10px 10px 0 0 ;
    background-color:#242323;
}
.accordion_div .accordion_message .MuiIconButton-root{
    border-radius:10px 10px 0 0 
}
.accordion_div .accordion_data{
    display: none;
    width: 350px;
    height: 400px;
    transition: 0.2s ease-out;
    overflow-y: scroll;
}
.accordion_message button{
    width: 100%;
}
.accordion_message  .MuiIconButton-label{
    width: 100%;

}
.accordion_message  .MuiIconButton-label  .sympol{
    margin-left: auto
}
.accordion_data ul{
    height: 81%;
    overflow-y:scroll
}
.accordion_data .formMessage{
    width: 95%;
}
 