.viewBlog {
    width: 100%;
    height: 100%
}

.viewBlog_li {
    list-style: none;
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.contain_blog {
    background-color: wheat;
    padding: 10% 10% 0% 10%;
    border-radius: 10px;
    width: 100%;
    /* position: relative; */
}

/* .contain_blog .text_blog {} */

.contain_blog .image_blog {
    width: 100%;
    height: 100%;
}

.contain_blog .image_blog {
    position: absolute;
    bottom: 0
}

.one img {
    width: 100%;
}

.activities_blog {
    display: inline-flex;
    width: 102%;
    display: flex;
    flex-wrap: wrap;
}

.activities_blog .inner {
    list-style: none;
    flex: 0 0 31.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin: 5px 11px 10px 0;
    border-radius: 10px;
}

.activities_blog .list li {
    padding: 10px 40px;
}

.text_blog p {
    overflow-wrap: break-word;
}

/* Skeleton loading */

.blog_skeleton_wrapper {
    margin-top: 10px;
    background-color: whitesmoke;
    width: 51%;
    margin-left: 10%;
    padding: 10px 50px 50px 50px;
    border-radius: 10px;
}

.skeleton {
    background-color: black;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

.skeleton.text {
    height: 70px;
}

.skeleton.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.skeleton.image {
    height: 300px
}

.skeleton.likeShare {
    height: 50px
}

.like {
    cursor: pointer
}

.inner .like svg, .inner .list svg {
    padding-right: 10px;
    color: #242526;
}

input[type="checkbox"] {
    display: none
}

:checked+label {
    background-color: rgb(48, 179, 226) !important;
    border-radius: 10px;
}

.activities_blog label {
    list-style: none;
    flex: 0 0 28%;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 10px 61px;
}

.activities_blog label li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-blog {
    margin-bottom: 10px
}

.image-blog .one img {
    width: 100%;
    height: 400px;
}

.image-blog .two, .image-blog .three .two {
    display: flex;
    justify-content: space-between;
}

.image-blog .two img {
    width: 49.9%;
    height: 400px;
}

.image-blog .three .two img {
    height: 300px;
    width: 49.9%;
}

.image-blog .three img {
    width: 100%;
    height: 300px;
    padding-top: 2px;
}

.comment_blog_view {
    padding-bottom: 20px;
}

.comment_blog_view .MuiFormLabel-root, .comment_blog_view .MuiInputBase-input {
    color: black !important
}

.comment_blog_view .comment_blog img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.comment_blog_view .comment_blog .activities {
    display: flex;
    width: 30%;
    margin-left: 70px;
}

.comment_blog_view .comment_blog .activities .list {
    flex: 0 0 31.333333%;
}

.comment_blog .content {
    align-items: center;
    /* justify-content: center; */
    display: flex;
}

.comment_blog .content span {
    padding-left: 14px;
}

.like, .comment li {
    display: flex;
}

.like .MuiSvgIcon-root, .comment .MuiSvgIcon-root {
    margin: 0
}

.like svg, .comment li svg {
    padding-right: 5px;
}

.post_viewing_div {
    margin-top: 7%;
    height: 100%;
    width: 90%;
}

.post_viewing .flex {
    flex: 0 50%;
}

.slide-container {
    width: 54%;
    height: 100%;
}

.slide-container img {
    width: 665px !important;
    height: 497px !important;
}

.post_viewing .content {
    background-color: burlywood;
    width: 60%;
    height: 500px;
    padding-left: 10px;
    overflow-y: scroll;
    margin-bottom: auto;
}

.post_viewing .content .content_div {
    margin-top: 5px;
    margin-left: 5px;
}

.post_viewing .content .content_div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.extension_blog {
    display: flex;
}

.extension_blog .ex {
    flex: 0 0 31.333333%;
    background-color: whitesmoke;
    margin: 5px 11px 10px 0;
    border-radius: 10px;
}

.extension_blog .ex .like {
    padding: 10px 61px;
}

/* Comment text field */

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: 30px;
}

#txtSearch {
    -webkit-appearance: none;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    border: 2px solid #00B8FF;
    background: none;
    width: 400px;
    margin: 0;
    transition: 0.3s;
    padding-left: 20px;
    padding-top: 10px;
    min-height: 3em;
    /* overflow: auto; */
}

::-webkit-textarea-placeholder {
    color: rgb(88, 88, 88);
}

#txtSearch:hover {
    color: #fff;
    box-sizing: border-box;
    border: 2px solid #00B8FF;
    background: #00B8FF;
}

#txtSearch:focus {
    background: #00B8FF;
    border: 2px solid #00B8FF;
    color: #fff
}

#btnSearch {
    font-family: "Lato";
    -webkit-appearance: none;
    text-transform: uppercase;
    border-radius: 30px;
    height: 40px;
    width: 90px;
    color: rgb(88, 88, 88);
    background: #00B8FF;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#btnSearch:hover {
    background: none;
    color: #00B8FF;
    border: 2px solid #00B8FF;
}

#btnSearch:active {
    border-color: #0086C6;
    background: none;
}

#dis {
    margin-top: 30px;
    display: block;
    text-align: justify;
    margin-left: 30px;
    width: 600px;
    color: #00B8FF;
}

.content_comment_a_blog {
    margin-bottom: 20px;
    margin-top: 10px;
}

.content_comment_a_blog .activities {
    display: flex;
}

.content_comment_a_blog .activities .list, .extension_blog .ex, .post_viewing_div, .modal_post_blog, .form_post_blog p, .drag_file .icon, .message_container, div.loaderBalls, .contain_block .middle, .block_page, .extension_auth, .like, .inner .list, #share-menu .MuiMenu-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_viewing {
    display: flex;
    overflow-y: hidden
}

.comment_a_blog .content_comment_a_blog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.value_content_comment_a_blog {
    display: flex
}

.value_content_comment_a_blog div {
    margin-left: 10px;
    background-color: cadetblue;
    padding: 5px 10px;
    border-radius: 10px;
}

.value_content_comment_a_blog p {
    line-height: 0.5
}

.content_comment_a_blog .activities {
    margin-left: 55px;
    margin-top: 10px;
}

.content_comment_a_blog .activities .comment {
    margin-left: 10px;
}

.go_to_previous {
    margin-bottom: auto;
    margin-top: 70px;
    color: black
}

.more_image {
    opacity: 0.6;
    content: "+5";
}

.last_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-blog .three .two div img {
    width: 100%;
    margin-left: 2px;
}

.two span {
    color: white;
    font-size: 2rem;
    padding: 20px;
    border-radius: 50%;
    background-color: #010118;
}

.notifications_span .simple_menu_span {
    padding: 30px 30px;
}

.notifications_span .simple_menu_span:hover {
    background-color: rgba(189, 187, 185, 0.747);
}

.simple_menu_span {
    color: white;
}

#menuContainerMessage .MuiPaper-root {
    background-color: #242526 !important;
    left: initial !important;
    right: 10px;
    width: auto !important;
    height: 500px;
}

.MuiList-root a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.514);
    font-weight: 550
}

#menuContainerMessage p {
    margin: 5px 0 5px 10px;
    font-weight: 700;
    color: white
}

.paper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(36, 37, 38);
    padding: 50px 140px;
    z-index: 100;
    -webkit-box-shadow: 9px 6px 50px 11px #000000;
    box-shadow: 9px 6px 50px 11px #000000;
}

.paper .MuiFormLabel-root {
    background-color: initial;
    padding: 0
}

.paper p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.507);
    text-align: center;
}

.close_button {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    font-size: 2rem;
}

.close_button:hover {
    color: rgba(46, 229, 157, 0.4)
}

.active_page {
    background-color: blanchedalmond;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
}

.active_page p {
    text-align: center;
    font-size: 2rem;
}

.active_page button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.MuiListItem-button:hover {
    background-color: rgba(0, 0, 0, 0.76) !important
}

.share span {
    cursor: pointer;
}

#share-menu .MuiPaper-root {
    height: 200px;
    background-color: #242526;
    width: 200px
}

#share-menu .MuiMenu-list li {
    height: 50px;
    width: 200px;
}